body {
	background-color: #bfbfbf
}

a {
	text-decoration: none;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #737373;
	min-height: 110px;
}

li {
	float: left;
}

li a, .dropBtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 50px 16px;
	text-decoration: none;
}

li a:hover, .dropDown:hover .dropBtn {
	background-color: #8c8c8c;
}

li.dropDown {
	display: inline-block;
}

.dropDownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropDownContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropDownContent a:hover {
	background-color: #e6e6e6;
}

.dropDown:hover .dropDownContent {
	display: block;
}